.flexC{
    display: flex;
    flex-direction: column;
    gap:15px;
}

.flexR{
    display: flex;
    flex-direction: row;
    gap:15px;
    flex-wrap: wrap;
}

.input{
    border: black 1px solid;
    border-radius: 5px;
    padding: 5px;
}